<div class="home-bg">
  <div class="home">
    <h1 class="home__title">MovieLovers</h1>

    <form action="/" method="POST">
      <input type="text" name="movie_name" placeholder="The matrix..." class="home__input">
      <button class="home__btn"><i class="fa fa-search"></i></button>
    </form>

    <h2 class="home__subtitle">The best movie quiz, introduce a movie name and have fun!</h2>
  </div>
</div>
